.app-header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: #fff;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
}

.logo-img {
  height: 40px;
  margin-top: 10px;
}

.menu {
  border: none;
  flex: 1;
  justify-content: center;
  display: flex;
}

.menu-text {
  transition: opacity 0.3s ease-in-out;
}

/* Hide menu & icons on small screens */
@media (max-width: 768px) {
  .menu,
  .desktop-icons {
    display: none !important;
  }

  .mobile-menu-button {
    display: block;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
  }
}

/* Show desktop menu & icons by default */
.desktop-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.mobile-menu-button {
  display: none;
}

.icon {
  font-size: 24px;
  color: #000;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 2px 0;
  min-width: 120px;
  z-index: 1000;
}

.logout-text {
  color: red;
  cursor: pointer;
}

.secondary-nav {
  background: #f9f9f0;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #f0f0f0;
}
